{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Question{% endblock %}</h1>
{% endblock %}

<!-- Provides a method for creating a question; requires the question's creator to supply an answer -->
{% block content %}
    <form method="post">
        <label for="question">Question</label>
        <input name="question_text" id="question_text" value="{{ request.form['question_text'] }}" required>
        <label for="question">Your Answer</label>
        <input name="answer_text" id="answer_text" value="{{ request.form['answer_text'] }}" required>
        <input type="submit" value="Save">
    </form>
{% endblock %}