{% extends 'base.html' %}

<!-- when user is logged in, link is available to create a question-->
{% block header %}
    <h1>{% block title %}Questions{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('question.create') }}">Ask a Question</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="question">
        <header>
            <div>
                {% if question != none and answers != none %}
                    <h1>{{question['text'] }}</h1>
                    {% for answer in answers %}
                        <h2>{{answer['text'] }}</h2>
                        <form action="{{ url_for('choose.choose', answerId=answer['answer_id']) }}" method="post">
                            <input type="submit" value="Vote for this answer">
                        </form>
                    {% endfor %}
                    <form action="{{ url_for('answer.create', questionId=question['question_id']) }}" method="post">
                        <input name="answer_text" id="answer_text" value="{{ request.form['answer_text'] }}" required>
                        <input type="submit" value="Add Answer">
                    </form>        
                {% else %}
                    <h3>No more questions to answer.</h3>
                    <h3>Check back later for more philoso-fun questions!</h3>
                {% endif %}
                
            </div>
        </header>
    </article>
{% endblock %}