{% extends 'base.html' %}

<!-- when user is logged in, link is available to create a question-->
{% block header %}
    <h1>{% block title %}Answer Analytics{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('question.index') }}">Next Question</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="question">
        <header>
            <div><h1>{{question['text'] }}</h1>
                {% for answer in answers %}
                    <h2>{{answer['text'] }}</h2>
                {% endfor %}
            </div>
        </header>
    </article>
{% endblock %}