{% extends 'base.html' %}

<!-- when user is logged in, link is available to create a question-->
{% block header %}
    <h1>{% block title %}Answer Analytics{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('question.index') }}">Next Question</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="question">
        <header>
            <div>
                <h1>{{question['text'] }}</h1>
                <h4># Responses: {{ answer_count }}</h4>
                {% if answer != None %}
                {% for answer in answers %}
                    <h2>{{answer['text'] }}</h2>
                    <h3>Number of Responses: {{ answer['num_respondents'] }}</h3>
                    <form id="demographic" name="demographic" action="{{ url_for('answer.index_reloaded', chosen_answer=answer['answer_id']) }}" method="POST">
                        <label for="demographic">Select a Demographic for Above Answer</label>
                        <select name="{{ answer['answer_id'] }}" id="{{ answer['answer_id'] }}">
                            <option>Choose an option...</option>
                            <option>gender</option>
                            <option>income</option>
                            <option>party</option>
                            <option>geography</option>
                        </select>   
                        <input type="submit" value="View">
                    </form>
                    {% if demographic_info != None %}
                        {% if demographic_info[0]['answer_selected'] == answer['answer_id'] %}
                        <table>
                            <th>{{ demographic }}</th>
                            <th># Responses</th>
                            <th>% Responses</th>
                        {% endif %}
                        {% for demo in demographic_info %}
                            {% if answer['answer_id'] == demo['answer_selected'] %}
                            <tr>
                                <td>{{ demo['demographic'] }}</td>
                                <td>{{ demo['num_chose'] }}</td>
                                <td>{{ demo['percent_chose'] }}%</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </header>
    </article>
{% endblock %}