{% extends 'base.html' %}

{% block content %}
    <article class="question">
        <header>
            <div>
                {% if answers != none %}
                    <h1>{{question['text'] }}</h1>
                    {% for answer in answers_analytics %}
                        <h2>{{answer['text'] }}</h2>
                 <!--   this will display some answer analytics    <h3>{{answer[''] }}</h3>--> 
                    {% endfor %}    
                {% else %}
                    <h2>There are no answers to this question yet.</h2>
                    <h2>Check back later!</h2>
                {% endif %}
            </div>
        </header>
    </article>
{% endblock %}