{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Questions and Answers{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- All questions asked by the current user -->
    {% if questions != None %}
        <h2>Questions Asked</h2>
        {% for question in questions %}
            <h3>{{ question['text'] }}</h3>
        {% endfor %}
    {% endif %}
    <hr>
    <!-- All answers provided by the current user -->
    {% if answers != None %}
        <h2>Answers Provided</h2>
        {% for answer in answers %}
            <h3>Q: {{ answer['question_text'] }}</h3>
            <h3>A: {{ answer['answer_text'] }}</h3>
            <form action="{{ url_for('answer.index', chosen_answer=answer['answer_id']) }}" method="post">
                <input type="submit" value="View question statistics">
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
